@model Assessment1.Models.Customer

<h2>Customer Details</h2>
<div>
    <h4>Customer</h4>
    <dl class="dl-horizontal">
        <dt>
            CustomerID
        </dt>
        <dd>
            @Model.CustomerID
        </dd>
        <dt>
            CompanyName
        </dt>
        <dd>
            @Model.CompanyName
        </dd>
        <dt>
            ContactName
        </dt>
        <dd>
            @Model.ContactName
        </dd>
        <dt>
            Country
        </dt>
        <dd>
            @Model.Country
        </dd>
    </dl>
</div>

